<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        
        <div class="filter"></div>
        <div class="content-center" style="align-self:center;justify-content:center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">QuickNet</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>
                <h2 class="presentation-subtitle text-center">בניית אתרים בטכנולוגיה המתקדמת ביותר</h2>
                <h2 class="presentation-subtitle text-center">מתאים לעסקים קטנים וגדולים</h2>
            </div>
        </div>
        <div style="background-image: url('assets/img/clouds.png'); "></div>
       
    </div> 
</div>
