<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul> 
                    <li class="default-text">
                        <i style="font-size:1.8em" class="icofont icofont-email"></i>
                        <label style="font-size:1.3em">jacobs2jacob@gmail.com</label>
                    </li>
                    <li class="default-text"> 
                        <i style="font-size:1.8em" class="icofont icofont-phone"></i>
                        <label style="font-size:1.3em">054-2252762</label> 
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
