<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500" 
     style="background-color:#c80a48 !important">
    <div class="container">

        <div class="navbar-translate">
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>

        <div class="row" style="color:white;width:100%;display:inline-flex;height:34px">
            <!--Logo-->
            <a [routerLink]="['/home']" class="link col-1"
               style="font-size:20px">QuickNet</a>
            
            <!--Middle links-->
            <div class="collapse navbar-collapse col-8" id="navbarToggler">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="link" [routerLink]="['/user-profile']">
                            אודותינו
                        </a>
                    </li>
                    <li style="margin-left:15px" class="nav-item">
                        <a class="link" [routerLink]="['/contact']">
                            צור קשר
                        </a>
                    </li>
                </ul>
            </div>
            <!--Right links-->
            <div class="col-3">
                <a style="float:right" rel="tooltip" title="Like us on FaceBook!"
                   data-placement="bottom" href="" target="_blank">
                    <i class="fa fa-facebook-square fa-2x" style="color:white;top:unset !important"></i>
                    <p class="d-lg-none">Facebook</p>
                </a>
            </div>
        </div>
    </div>
</nav>
